<h3>Blogs</h3>
<div class="row public-blog-list">
  {{#each blogs}}
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          {{#if user}}
            {{{editIcon user.id ../user.id id}}}
          {{/if}}
        </div>
        <div class="card-content center-align">
          <div class="blog-title">
            <h5>{{{truncate title 30}}}</h5>
          </div>
          <div class="blog-body">{{{truncate body 150}}}</div>
          <br>
          <div class="chip">
            <img src="{{user.image}}">
            <a href="/blogs/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a class="btn grey" href="/blogs/{{id}}">Continue reading</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>You have not uploaded any public blogs yet!</p>
  {{/each}}
</div>