<div class="row">
  <h3 class="show-title">{{blog.title}} <small>{{{editIcon blog.user.id user.id blog.id false}}}</small></h3>
  <div class="col s12 m8">
    <div class="card blog">
      <div class="card-content">
        <span class="card-title">{{formatDate blog.date 'MMMM Do YYYY'}}</span>
        {{{blog.body}}}
      </div>
    </div>
    {{#if blog.allowComments}}
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          {{#if user}}
            <form action="/blogs/comments/{{blog.id}}" method="post">
              <div class="input-field">
                <textarea id="commentBody" name="commentBody" class="materialize-textarea"></textarea>
                <label for="commentBody">Add Comments</label>
              </div>
              <input type="submit" value="Submit" class="btn">
            </form>
          {{else}}
            <p>You need to <a href="/auth/google">login</a> to add comments.</p>
          {{/if}}
        </div>
      </div>

      {{#each blog.comments}}
      <div class="card">
        <div class="card-content">
          <h5>{{commentBody}}</h5>
          <div class="chip">
            <img src="{{commentUser.image}}">
            <a href="/blogs/user/{{commentUser.id}}">{{commentUser.firstName}} {{user.lastName}}</a>
          </div>
          <br>
          <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
  
  <div class="col s12 m4">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{blog.user.firstName}} {{blog.user.lastName}}</span>
        <img src="{{blog.user.image}}" class="circle responsive-img">
      </div>
      <div class="card-action">
        <a href="/blogs/user/{{blog.user.id}}">More from {{blog.user.firstName}}</a>
      </div>
    </div>
  </div>
</div>