<div class="row show-blog">
  <div class="blog-intro">
    <h3 class="show-title">{{blog.title}} <small>{{{editIcon blog.user.id user.id blog.id false}}}</small></h3>
    <div class="title-user">
      <img src="{{blog.user.image}}" class="circle responsive-img">
      <div class="title-user-info">
        <a href="/blogs/user/{{blog.user.id}}"><p>{{blog.user.firstName}} {{blog.user.lastName}}</p></a>
        <p class="card-title">{{formatDate blog.date 'MMMM Do YYYY'}}</p>
      </div>
    </div>
  </div>

  <div class="col m12">
    <div class="card blog">
      <div class="card-content">
        {{{blog.body}}}
      </div>
    </div>
  </div>
  
  <div class="col m12 comments">
    {{#if blog.allowComments}}
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          {{#if user}}
            <form action="/blogs/comments/{{blog.id}}" method="post">
              <div class="input-field">
                <textarea id="commentBody" name="commentBody" class="materialize-textarea"></textarea>
                <label for="commentBody">Add Comments</label>
              </div>
              <input type="submit" value="Submit" class="btn">
            </form>
          {{else}}
            <p>You need to <a href="/auth/google">login</a> to add comments.</p>
          {{/if}}
        </div>
      </div>

      {{#each blog.comments}}
      <div class="card comment-card">
        <div class="card-content">
          <div class="chip">
            <img src="{{commentUser.image}}">
            <a href="/blogs/user/{{commentUser.id}}">{{commentUser.firstName}} {{user.lastName}}</a>
          </div>
          <p>{{commentBody}}</p>
          <br>
          <small>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>